$color-sc-green-50: #e5faf0;
$color-sc-green-100: #d4f7e6;
$color-sc-green-200: #adedd1;
$color-sc-green-300: #77deb7;
$color-sc-green-400: #40c798;
$color-sc-green-500: #1dac80;
$color-sc-green-600: #108b67;
$color-sc-green-700: #0d6f55;
$color-sc-green-800: #0d5844;
$color-sc-green-900: #0b4939;
$color-sc-green-950: #052921;

$color-edward-0: #ffffff;
$color-edward-50: #f7f8f7;
$color-edward-100: #eeeeee;
$color-edward-200: #e3e3e3;
$color-edward-300: #b0b0b0;
$color-edward-400: #888888;
$color-edward-500: #6d6d6d;
$color-edward-600: #5d5d5d;
$color-edward-700: #4f4f4f;
$color-edward-800: #474747;
$color-edward-900: #3d3d3d;
$color-edward-950: #262626;

$color-blue-50: #f3f7fc;
$color-blue-100: #e7eff7;
$color-blue-200: #c9ddee;
$color-blue-300: #99c1e0;
$color-blue-400: #62a1ce;
$color-blue-500: #4e92c4;
$color-blue-600: #2d699c;
$color-blue-700: #25557f;
$color-blue-800: #22496a;
$color-blue-900: #213e59;
$color-blue-950: #16283b;

$color-forest-50: #f0fdf4;
$color-forest-100: #ddfbe7;
$color-forest-200: #bdf5d0;
$color-forest-300: #8aebac;
$color-forest-400: #4fd980;
$color-forest-500: #28bf5e;
$color-forest-600: #1dab50;
$color-forest-700: #197c3d;
$color-forest-800: #196234;
$color-forest-900: #16512c;
$color-forest-950: #062d16;

$color-fire-50: #fdf7ed;
$color-fire-100: #f9e8cc;
$color-fire-200: #f2cf95;
$color-fire-300: #ecb05d;
$color-fire-400: #e89b42;
$color-fire-500: #df7521;
$color-fire-600: #c5561a;
$color-fire-700: #a43b19;
$color-fire-800: #862f1a;
$color-fire-900: #6e2819;
$color-fire-950: #3f1209;

$color-rose-50: #fcf4f4;
$color-rose-100: #fae6e6;
$color-rose-200: #f7d1d1;
$color-rose-300: #f0b1b1;
$color-rose-400: #e68383;
$color-rose-500: #d65252;
$color-rose-600: #c43e3e;
$color-rose-700: #a43131;
$color-rose-800: #882c2c;
$color-rose-900: #722a2a;
$color-rose-950: #3d1212;

$color-black-alpha-400: #0000005e;
$color-black-alpha-500: #0000008c;
$color-black-alpha-600: #000000ad;
